{% extends 'main.html' %}


{% block content %}
<!--<h1> <a href="{ url 'user-profile' message.sender.id }" class="message__author">{{ message.name }}</a> </h1>-->
  <!-- Main Section -->
  
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{ message.subject }}</h4>
          {% if message.sender.id %}    <!-- { if message.sender }    ~alos works -->
          <a href="{% url 'user-profile' message.sender.id %}" class="message__author">{{ message.name }}</a>
          {% else %}
          <a href="#" class="message__author">{{ message.name }}</a>
          {% endif %}
          <p class="message__date">{{ message.created }}</p>
          <div class="message__body">{{ message.body | linebreaksbr }}</div>
      </div>
    </div>
  </main>

{% endblock content %}