{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'login' %}"><i class="im im-angle-left"></i></a>
                <h3>Password reset complete</h3>
                    
                <p>Your password has been set. You may go ahead and log in now.</p>
                
                <br>

                <a href="{% url 'login' %}">Log in</a>                    
                </form>
            </div>
        </div>
    </main>


{% endblock content %}